<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-center justify-content-md-between">
    
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>rhawk7@byu.edu</span></i>
          </div>
    
          <div class="languages d-none d-md-flex align-items-center">
            <ul>
              <li><a href="restaurantHome">Return Home</a></li>
              <li><a href="login">Log In</a></li>
              <li><a href="viewRestaurants">View Restaurants</a></li>
              <li><a href="addRestaurants">Add Restaurants</a></li>
            </ul>
          </div>
        </div>
    </div>

    <form action="/addRestaurants" method="post">
        <label for="Rest_Name">Enter Restaurant Name: </label>
        <input type="text" id="Rest_Name" name="Rest_Name">
        <br><br>
        <label for="Rest_Location">Enter Location: </label>
        <input type="text" id="Rest_Location" name="Rest_Location">
        <br><br>
        <label for="Rest_Rating">Enter Rating: </label>
        <input type="text" id="Rest_Rating" name="Rest_Rating">
        <br><br>
        <label for="Rest_Link">Enter Link: </label>
        <input type="text" id="Rest_Link" name="Rest_Link">
        <br><br>
        <label for="Rest_Dietary_Description">Enter Dietary Description: </label>
        <input type="text" id="Rest_Dietary_Description" name="Rest_Dietary_Description">
        <br><br>
        <input type="submit" value="Save Restaurant">
    </form>
</body>
</html>