<!-- Authors: Adam Forbush, Chris Fowler, Ryan Hawkins, Joshua Thatcher -->
<!-- Project 3. IS403. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cuisine Compass</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://raw.githubusercontent.com/aforbush1/Restaurants/views/assets/img/favicon.png" rel="icon">
  <link href="https://raw.githubusercontent.com/aforbush1/Restaurants/views/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="https://aforbush1.github.io/Restaurants/views/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      <h1 class="logo me-auto me-lg-0"><a href="/">Cuisine Compass</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a href="/viewRestaurants">View Restaurants</a></li>
          <li><a href="/addRestaurants">Add Restaurants</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Cuisine Compass</span></h1>
          <h2>Customize According To Your Dietary Needs</h2>
          <div class="btns">
            <a class="btn-menu animated fadeInUp scrollto" href="#about">Learn About What We Do</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>
      </div>
    </div>
  </section>

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="https://aforbush1.github.io/Restaurants/views/assets/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Here is a little bit about what we do:</h3>
            <p class="fst-italic">
              Sometimes it's hard to find a great place to eat. It can be even harder when you have certain dietary restrictions.
              Here we want to help you keep track of different places you can eat that meet your specific food needs. It's as simple as:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Select a dietary restriction</li>
              <li><i class="bi bi-check-circle"></i> See a list of great places that fit your dietary needs!</li>
              <li><i class="bi bi-check-circle"></i> Add other places that you find to share them with others</li>
            </ul>
            <p>
              Start participating today to start learning about great new places to eat without spending so much time searching!
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; CuisineCompass: <strong><span>Adam, Chris, Josh, Ryan</span></strong>
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/aos/aos.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://aforbush1.github.io/Restaurants/views/assets/js/main.js"></script>
</body>

</html>
