<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cuisine Compass</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://raw.githubusercontent.com/aforbush1/Restaurants/views/assets/img/favicon.png" rel="icon">
  <link href="https://raw.githubusercontent.com/aforbush1/Restaurants/views/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://aforbush1.github.io/Restaurants/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="https://aforbush1.github.io/Restaurants/views/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly
  * Updated: Sep 20 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Cuisine Compass</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li>
            <a href="/viewRestaurants">View restaurants</a>
          </li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Cuisine Compass</span></h1>
          <h2>Customize According To Your Dietary Needs</h2>

          <div class="btns">
            <a href="/login" class="btn-menu animated fadeInUp scrollto">Log In</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="https://aforbush1.github.io/Restaurants/views/assets/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Here is a little bit about what we do:</h3>
            <p class="fst-italic">
              Sometimes it's hard to find a great place to eat. It can be even harder when you have certain dietary restrictions.
              Here we want to help you keep track of different places you can eat that meet your specfic food needs. It's as simple as:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Create an account here on our page</li>
              <li><i class="bi bi-check-circle"></i> Enter in certain dietary resitrictions you want to find places to eat for</li>
              <li><i class="bi bi-check-circle"></i> See a list of great places to eat! You can even add your own places that you find to your own profile to keep track of them</li>
            </ul>
            <p>
              Sign up today to start keeping track of great places to eat without spending so much time trying to find a new place every time you want to eat.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    

    
    

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; IS403 Project <strong><span>Section 9- Team 2</span></strong>. Adam, Chris, Josh, Ryan
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/aos/aos.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://aforbush1.github.io/Restaurants/views/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://aforbush1.github.io/Restaurants/views/assets/js/main.js"></script>
  

</body>

</html>