<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addRestaurants" method="post">
        <label for="Rest_Name">Enter Restaurant Name: </label>
        <input type="text" id="Rest_Name" name="Rest_Name">
        <br><br>
        <label for="Rest_Location">Enter Location: </label>
        <input type="text" id="Rest_Location" name="Rest_Location">
        <br><br>
        <label for="Rest_Rating">Enter Rating: </label>
        <input type="text" id="Rest_Rating" name="Rest_Rating">
        <br><br>
        <label for="Rest_Link">Enter Link: </label>
        <input type="text" id="Rest_Link" name="Rest_Link">
        <br><br>
        <label for="Rest_Dietary_Description">Enter Dietary Description: </label>
        <input type="text" id="Rest_Dietary_Description" name="Rest_Dietary_Description">
        <br><br>
        <input type="submit" value="Save Restaurant">
    </form>
</body>
</html>